<div class="content">
    <p class="h4 card-subtitle mb-2 text-muted">Regras do jogo</p>
    <p class="text-justify">
        O jogo deverá ser de turnos, sendo cada turno uma interação do jogador e uma interação automática do inimigo.
        <br>
        O jogador e o inimigo deverão ter uma barra de vida, ambos terão a mesma quantidade de pontos de vida (100).
        <br>
        O jogador deverá ter 4 botões de interação a seguir: 
    </p>
    <p class="h5 card-subtitle mb-2 text-muted">Ataque Básico</p>
    <p class="text-justify">O jogador irá causar um dano no inimigo que será reduzido dos pontos de vida do mesmo, deve ser um valor aleatório entre 5 e 10.
    </p>
    <p class="h5 card-subtitle mb-2 text-muted">Ataque Especial</p>
    <p class="text-justify">
       O jogador irá causar um dano no inimigo que será reduzido dos pontos de vida do mesmo, deve ser um valor aleatório entre 10 e 20. 
       <br>
        O ataque especial necessita de no mínimo 2 turnos após utilização e deverá estar desabilitado enquanto não carregado, ou seja, o botão não pode ser acionado por 2 turnos após sua utilização.
        <br>
        Ao acionar o ataque especial o inimigo tem 50% de chance de não atacar no próximo turno, e deve ser apresentado um indicativo de que o inimigo está atordoado.  
    </p>
   <p class="h5 card-subtitle mb-2 text-muted">Curar</p>
   <p class="text-justify">
       O jogador receberá um aumento nos seus pontos de vida que deverá ser um valor randômico entre 5 e 15. 
    </p>
   <p class="h5 card-subtitle mb-2 text-muted">Desistir</p>
   <p class="text-justify">
       O jogo deverá ser terminado e ir para tela de início do jogo. 
    </p>

   <p class="h4 card-subtitle mb-2 text-muted">Ações do inimigo</p>

           <p class="h5 card-subtitle mb-2 text-muted">Ataque Básico</p>
           O inimigo irá causar um dano no jogador que será reduzido dos pontos de vida do mesmo, deve ser um valor aleatório entre 6 e 12. 
           <p class="h5 card-subtitle mb-2 text-muted">Ataque Especial</p>
           O inimigo irá causar um dano no jogador que será reduzido dos pontos de vida do mesmo, deve ser um valor aleatório entre 8 e 16. 
           O ataque especial do inimigo deverá ser acionado automaticamente a cada 3 turnos.
           <br>
</div>
