<div class="content">
    <div class="campo">
        <div class="jogador">
            <p class="h6 card-subtitle mb-2 text-muted">Jogador</p>
            <br>
            <div class="progress" style="width: 60%;">
                <div class="progress" >
                    <div class="progress-bar" role="progressbar" style="width: 57%;" aria-valuenow="100"aria-valuemin="0" aria-valuemax="100">77%</div>
                  </div>
            </div>
        </div>
        <div class="monstro">
            <p class="h6 card-subtitle mb-2 text-muted">Monstro</p>
            <div class="progress" style="width: 60%;" >
                <div class="progress-bar" role="progressbar" style="width: 57%;" aria-valuenow="100"aria-valuemin="0" aria-valuemax="100">77%</div>
              </div>
        </div>
    </div>
</div>